<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        button a{
            text-decoration: none;
            font-size: medium;
        }
    </style>
</head>

<p>what is your name </p>
<body><div class="input-group">
<form action="next" method="post">
      {% csrf_token %}

    <input type="text" class="form-control" id="name" name="name" placeholder="name">



</form></div>
<a href="next"><h1>Next</h1><a>
</body>
</html>
