<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
           button a{

           text-decoration: none;
           font-size: medium;
           }


    </style>
</head>
<body>
    <p>What are the colors in the Indian national flag?</p>
    <p><input type="radio" name="question2" value="White">A. White</p>
    <p><input type="radio" name="question2" value="Yellow">B. Yellow</p>
    <p><input type="radio" name="question2" value="Orange">C. Orange</p>
    <p><input type="radio" name="question2" value="Green">D. Green</p>
    <button><a href="next3">Next</a></button>
</body>
</html>